$gold: #ba9774;
$light-gold: #f5ca9f;
$gold-dark: rgba(243,149,59,0.73);

.contact-title{
	line-height: 1.4em;
	font-weight: 500;
	text-align: center;
	position: relative;
	padding: 6px;
	font-size: 35px;
	margin-bottom: 1rem;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.05em;
	color: $gold;
	@media screen and(max-width: 900px) {
		font-size: 22px;
		padding: auto;
		letter-spacing: 0.02em;
		word-spacing: 0.01em;
		line-height: 1.2em;
  	}

}

.contact-input{
	transition: all 1s ease-in-out;
	margin: 8px auto 8px 0;
	padding: 2px 10px 2px 10px;
	box-sizing: border-box;
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	width: 80%;
	height: 65px;
	border: 2px solid $gold;
	border-radius: 3px;
	color: $light-gold;
	background-color: black;
	outline: 0;

	&:focus{
		border-color: $light-gold;
		box-shadow: 0px 2px 19px -2px $gold-dark;

	}
}

.contact-textarea{
	transition: all 1s ease-in-out;
	margin: 8px auto 8px 0;
	padding: 8px 10px 2px 10px;
	box-sizing: border-box;
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	width: 80%;
	height: 125px;
	border: 2px solid $gold;
	border-radius: 3px;
	color: $light-gold;
	background-color: black;
	outline: 0;

	&:focus{
		border-color: $light-gold;
		box-shadow: 0px 2px 19px -2px $gold-dark;

	}

}

.contact-button{
	font-size: 16px;
	letter-spacing: .2em;
	text-transform: uppercase;
	line-height: 1.818181818em;
	font-weight:700;
	width: 200px;
	height: 60px;
	padding: 12px;
	margin: 40px auto auto 0px;
	border: 1px solid $gold;
	transition: all 0.6s ease-in-out;
	background-color: black;
	color: $gold;
	&:hover{
		box-shadow: 0 0 17px 3px $gold-dark,0 0 4px 2px $gold-dark;
		border: 1px solid $light-gold;
	}

	@media screen and(max-width: 900px) {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

}