$gold: #ba9774;
$light-gold: #f5ca9f;


.home-title{
  line-height: 1.4em;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding: 6px;
  font-size: 35px;
  margin-bottom: 1rem;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.05em;
  color: $gold;
  @media screen and(max-width: 900px) {
    font-size: 22px;
    padding: auto;
    letter-spacing: 0.02em;
    word-spacing: 0.01em;
    line-height: 1.2em;
  }
}

.home-description{
  font-size: 16px;
  letter-spacing: .1em;
  line-height: 1.818181818em;
  text-align: justify;
  position: relative;
  padding: 6px;
  padding-right: 5%;
  padding-left: 10%;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
  @media screen and(max-width: 900px) {
    font-size: 13px;
    line-height: 1.918181818em;
    padding: 12px 10px 12px 18px;

  }

}

.home-line{
  width: 60%;
  margin: 6px auto 8px auto;
  height: 2px;
  background-color: $gold;
  @media screen and(max-width: 900px) {
    width: 40%;
  }
}

.home-line-inverted{
  width: 2px;
  margin: auto 6px auto 8px;
  height: 60%;
  background-color: $gold;
  @media screen and(max-width: 900px) {
    width: 40%;
  }
}

.home-image{
   object-fit: cover;
   object-position: top;
   width: 80%;
   height: 100%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   margin: auto;
   margin-left: 13%;
   border-radius: 8px;
   @media screen and(max-width: 900px) {
    border-radius: 0;
    width: 100%;
    margin: 0;
   }
}

.home-button{
  font-size: 12px;
  letter-spacing: .2em;
  text-transform: uppercase;
  line-height: 1.818181818em;
  font-weight:700;
  width: auto;
  height: 60px;
  padding: 12px;
  border: 1px solid white;
  transition: all 0.6s ease-in-out;

  &:hover{
    box-shadow: 0 0 17px 3px white,0 0 4px 2px white;
    background-color: black;
    color: $gold;
  }

  @media screen and(max-width: 900px) {
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
  }
}

.home-overlay{
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}



//--------------------------------------------------------------------------------
.home-main{
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;


  .content-title{
    line-height: 1.1em;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding: 6px;
    font-size: 48px;
    margin-bottom: 1rem;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    color: black;
  }

  .content-description{
    text-align: center;
    position: relative;
    padding: 6px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 1.2em;
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: 2px;
    color: black;

  }

  
  .home-container{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow:hidden;
    margin:0;
  }

  .home-container-pattern{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow:hidden;
    margin:0;
  }

  .home-box{
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    background-color:white;
  }

  @media screen and(max-width: 900px) {

    

    .content-description{
      padding-top: 18px;
      text-align: justify;
    }

    
  }


}