.parallax-container-main{
    width: 100%;
    overflow: hidden;
    position: relative;

    .parallax-container-bg{
        position: absolute;
        width: 100%;
        height:100%;
        background-size: contain;
    }

    .parallax-container-content{
        margin-top: 50%;
    }

}